---
const { text, email } = Astro.props;
---

<div class="flex flex-col gap-6 bg-[var(--card-background)] rounded-xl p-8 justify-center">
  <h2 class="text-center text-pretty">
    {text}
  </h2>
  <a href="mailto:yalavrezb93@gmail.com">
    <button>{email}</button>
  </a>
</div>
