---
const { text, emphasis } = Astro.props;
---

<div class="flex flex-col gap-6 bg-[#191D20] rounded-xl p-8 justify-center">
  <svg
    width="60"
    height="60"
    viewBox="0 0 94 94"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M47 8.8125C39.4472 8.8125 32.0641 11.0522 25.7842 15.2483C19.5043 19.4444 14.6097 25.4084 11.7194 32.3863C8.82905 39.3641 8.07281 47.0424 9.54628 54.45C11.0198 61.8577 14.6568 68.662 19.9974 74.0026C25.338 79.3433 32.1424 82.9803 39.55 84.4537C46.9577 85.9272 54.6359 85.171 61.6137 82.2806C68.5916 79.3903 74.5557 74.4957 78.7518 68.2158C82.9479 61.9359 85.1875 54.5528 85.1875 47C85.1768 36.8753 81.1501 27.1684 73.9908 20.0092C66.8316 12.8499 57.1247 8.82319 47 8.8125ZM47 14.6875C53.2604 14.6809 59.3863 16.5033 64.625 19.9309V27.1719L56.4845 36.6233L44.9291 38.1875L44.8153 38.1067L37.5927 33.3847C36.9523 32.9336 36.2282 32.6151 35.463 32.448C34.6978 32.2809 33.9069 32.2684 33.1367 32.4114C32.3666 32.5544 31.6329 32.85 30.9787 33.2807C30.3245 33.7114 29.763 34.2686 29.3273 34.9195L21.6384 46.4125C20.9978 47.3703 20.6531 48.4952 20.647 49.6474L20.5625 62.9506L19.3618 63.7401C16.3935 58.8394 14.7817 53.2375 14.6915 47.5087C14.6013 41.7799 16.036 36.1301 18.8485 31.1383C21.661 26.1466 25.7503 21.9925 30.6971 19.1017C35.6439 16.2109 41.2705 14.6875 47 14.6875ZM22.8721 68.4695L23.7974 67.8636C24.6054 67.3306 25.2692 66.6063 25.7298 65.7549C26.1904 64.9036 26.4335 63.9516 26.4375 62.9837L26.5146 49.6805L34.2109 38.1875C34.2486 38.2165 34.2878 38.2435 34.3284 38.2683L41.551 42.994C42.7614 43.8482 44.2507 44.2117 45.7185 44.0111L57.2813 42.4432C58.7071 42.2529 60.0137 41.5461 60.9531 40.4567L69.0937 30.998C70.0041 29.9313 70.5029 28.5742 70.5 27.1719V24.8476C74.4732 29.0511 77.2434 34.2454 78.5205 39.8868C79.7976 45.5282 79.5347 51.4091 77.7593 56.9141L71.8329 51.4944C71.009 50.7381 69.9864 50.2327 68.8852 50.0376C67.784 49.8425 66.65 49.9657 65.6164 50.3928L54.4319 55.0377C53.4967 55.4303 52.6784 56.0571 52.0558 56.8578C51.4332 57.6585 51.0274 58.6061 50.8775 59.6092L49.9999 65.554C49.789 66.9849 50.1133 68.4433 50.9107 69.6499C51.7082 70.8566 52.9227 71.7267 54.3217 72.0936L62.2016 74.1719L63.0681 75.0421C56.6336 78.734 49.1234 80.0961 41.8021 78.8989C34.4809 77.7018 27.7957 74.0186 22.8721 68.4695ZM67.9297 71.6016L66.3508 70.019C65.6143 69.2797 64.6942 68.7499 63.685 68.4841L55.8125 66.4059L56.6901 60.4611L67.871 55.8125L75.2735 62.5981C73.3867 66.0164 70.899 69.0663 67.9297 71.6016Z"
      fill="#D9FF42"></path>
  </svg>

  <h2 class="text-balance">
    {text}<span>{emphasis}</span>
  </h2>
</div>
