---
import { Image } from "astro:assets";
import ThemeSelector from "./ThemeSelector";

const { title, src, emphasis } = Astro.props;
---

<div
  class="w-full flex flex-col gap-6 bg-card-background rounded-xl p-8 justify-center"
>
  <div class="flex flex-row items-center justify-between">
    <Image
      class={"rounded-full"}
      src={src}
      alt="Profile Image"
      width={80}
      height={80}
      format="avif"
    />
    <ThemeSelector client:visible />
  </div>
  <h2 class="text-pretty">
    {title}<span>{emphasis}</span>
  </h2>
</div>
